.spin-back {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 9999;
}
.spinner {
  position: absolute;
  margin: auto;
  left: 0; right: 0; top: 0; bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-right: solid 4px #333;
  border-top: solid 4px dodgerblue;
  background: #333;
  box-shadow: 0 0 0 5px #333;
  animation: spin 800ms linear infinite;
  z-index: 10000;
}
@keyframes spin
{
0% {
  transform: rotate(0deg);
  }
50% {
  transform: rotate(180deg);
  }
100% {
  transform: rotate(360deg);
  }
}
